.field1 {
    width: 150px;
    height: 150px;
    padding: 50px;
    margin: 5px;

}

.field2 {
    width: 150px;
    height: 150px;
    padding: 50px;
    margin: 5px;

}

.field3 {
    width: 150px;
    height: 150px;
    padding: 50px;
    margin: 5px;

    
}


.mainField {
    display: flex;
    justify-content: center;
    background-color: red;
    width: 950px;
    height: 650px;
    padding: 150px;
    flex-wrap: wrap;
    
}